body{
    background-color: red;
}

#white{
    background-color:white;
    height:42vw;
    width:42vw;
    border-radius:50%;
    z-index:2;
    top:43%;
    left:30%;
    margin-top: 50px;
    margin-left: 50px;
    position:fixed;
    transform: translate(-50%, -50%);
}

#end{
    font-weight: bold;
}

.sidebar{
    height: 100%; 
    width: 4vw; 
    position: fixed; 
    z-index: 1; 
    top: 0%; 
    right: 0;
    background-color: navy; 
    overflow-x: hidden; 
    padding-top: 20px;
}

.whiteBar{
    height: 100%; 
    width: 2vw; 
    position: fixed; 
    z-index: 2; 
    top: 0%; 
    right: 4%;
    background-color:white; 
    overflow-x: hidden; 
    padding-top: 20px;
}

.content{
    background-color: darkgrey;
    position:fixed;
    z-index:100;
    min-height:26vw;
    max-width:30vw;
    border: 2px solid rgb(72, 35, 41);
    border-radius: 4px;
    box-shadow: 0px 10px 20px -5px rgb(72, 35, 41);
    right: 12vw;
    top:15vw;
    text-align:center;
}

.quiztitle{
    font-weight:bold;
    font-size: 5vmin
}

.hidden{
    display:none;
}

#support{
    margin:5px;
}
button{
    border-radius: 4px;
    border: 0.5px solid navy;
}
button:hover{
    background-color:navy;
    color:white;
}
button:focus{
    outline-color: red;
}

.option{
    text-align:left;
    margin:2px;
}

/* Time permitting figure out how to add stars to map. */

/* Start clip path option*/

#holder{
    background-color:navy;
    height:38vw;
    width:38vw;
    border-radius:50%;
    z-index:2;
    top:49.5%;
    left:49.5%;
    margin-top: 4px;
    margin-left: 4px;
    position:fixed;
    transform: translate(-50%, -50%);
    position: absolute;
    contain: content;
}
.starone{
    background-color: white;
    width:18vmax;
    height:18vmax;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: relative;
    left: 3%;
    top: 10%;
    transform: rotate(-20deg);
    position: fixed;
}
@media screen and (max-width: 640px){
    .starone{
        width: 12vmax;
        height: 12vmax;
    }
}


.startwo{
    background-color: white;
    width:18vmax;
    height:18vmax;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: relative;
    left:27%;
    top: 54%;
    position: fixed;
}
@media screen and (max-width: 640px){
    .startwo{
        width: 12vmax;
        height: 12vmax;
    }
}
.starthree{
    background-color: white;
    width:18vmax;
    height:18vmax;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: relative;
    left: 50%;
    bottom: 40%;
    transform: rotate(30deg);
    position: fixed;
}
@media screen and (max-width: 640px){
    .starthree{
        width: 12vmax;
        height: 12vmax;
    }
}


/* Time permitting figure out how to add stars to map. */
/* .starone{
    margin: 50px 0;
    position: relative;
    display: block;
    color: white;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(19deg);
    top: 7vw;
    left: 4vw;
}

.starone:before{
    border-bottom: 80px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

.starone:after{
    position: absolute;
    display: block;
    color: white;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
} 

.startwo{
    margin: 50px 0;
    position: relative;
    display: block;
    color: white;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(65deg);
    left:19vw;
}
.startwo:before{
    border-bottom: 80px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

.startwo:after{
    position: absolute;
    display: block;
    color: white;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
} 

.starthree{
    margin: 50px 0;
    position: relative;
    display: block;
    color: white;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    left: 11vw;
    top: 2vw;
}
.starthree:before{
    border-bottom: 80px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

.starthree:after{
    position: absolute;
    display: block;
    color: white;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
} 
 */
